*.class

# Package Files #
*.jar
*.war
*.ear

#log
*.log

#terraform
*.terraform
terraform.tfstate

# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata
.vscode
/meetingroom.iml
